/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #222;
    background: #fafafa;
}

/* GLOBAL */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
}

.btn-primary {
    padding: 10px 22px;
    background: #4a6cf7;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}
.btn-primary:hover {
    background: #3a56d4;
}

/* NAVBAR */
.navbar {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 26px;
    color: #4a6cf7;
}

.nav-links a {
    margin: 0 12px;
    text-decoration: none;
    color: #333;
}
.nav-links a:hover {
    color: #4a6cf7;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #4a6cf7, #6f8cff);
    padding: 80px 0;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
}
.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-btn {
    font-size: 18px;
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    margin: 50px auto;
}

.feature-card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    text-align: center;
}

/* COURSES */
.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.course-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.course-card:hover {
    transform: translateY(-5px);
}

.course-card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.course-card h3 {
    margin: 10px 0 5px;
}

.course-desc {
    color: #666;
    font-size: 14px;
}

.course-price {
    display: inline-block;
    margin-top: 12px;
    background: #4a6cf7;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
}

/* FOOTER */
.footer {
    background: #222;
    padding: 18px 0;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}
